[submodule "third_party/hyperframes"]
	path = third_party/hyperframes
	url = https://github.com/heygen-com/hyperframes.git
[submodule "third_party/hyperframes-launches"]
	path = third_party/hyperframes-launches
	url = https://github.com/heygen-com/hyperframes-launches.git
